<!--
	Aula 22 - AngularUI: ui.highlight e ui.mask
  Vamos começar a trabalhar com o pacote AngularUI e suas diversas ferramentas. Nessa videoaula vamos
aprender como utilizar ui.highlight e ui.mask para salientar textos e criar máscaras.

-->
<html ng-app="app">
<head>
    <title>Curso AngularJS Aula 22 - ui.highlight e ui.mask </title>
    <meta charset="utf-8">

    <style>
        .ui-match {
            background: red;
            color: white;
        }
    </style>

</head>
<body>

<div ng-controller="Aula22Controller" ng-init="busca='';var1='';var2=''">

    <h1>Curso AngularJS Aula 22- ui.highlight e ui.mask </h1>

    <input type="search" ng-model="busca">

    <div ng-bind-html="texto | highlight:busca"></div>

    <hr/>
    <input ng-model="var1" ui-mask="{{maskCpf}}">

    <input ng-model="var2" ui-mask="{{maskFone}}">

    {{var2}}
</div>

<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-sanitize.min.js"></script>
<script src="js/angular/ui-utils.min.js"></script>
<script src="js/aula22Controller.js"></script>

</body>
</html>