<!--
    Aula 07 - Loops usando ngRepeat

    Vamos aprender a usar a diretiva ngRepeat para criar loops e iterações entre arrays simples e complexos,
    compostos por objetos, e seu bind automático com a camada de visualização de nossa aplicação..

-->
<html ng-app="app">
    <head>
        <title>Curso AngularJS - Aula07</title>
        <meta charset="utf-8">
    </head>
    <body ng-controller="aula07Controller">

        <!--
            O Angular tem suporte ao templates, ele já traz os templates com ele

        -->


        <ul>
            <li ng-repeat="nome in nomes">{{nome}}</li>
        </ul>


        <input type="text" id="nomepessoa">
        <input type="text" id="idadepessoa">
        <button type="button" ng-click="adicionaPessoa()">Adiciona</button>


        <ul>
            <li ng-repeat="pessoa in pessoas">{{ pessoa.nome }} - {{ pessoa.idade }}</li>
        </ul>




        <script src="js/angular/angular.min.js"></script>
        <script src="js/app.module.js"></script>

        <!-- Controllers -->
        <script src="js/aula07Controller.js"></script>


    </body>
</html>