<!--

	Aula 14 - Requisições assíncronas usando $http

  Vamos aprender como utilizar o objeto $http para realizar a busca de informações remotas e ainda como exibir essas
informações na tela de forma prática e rápida.


-->
<html ng-app="app">
<head>
    <title>Curso AngularJS - Aula14</title>
    <meta charset="utf-8">
</head>
<body>

<div ng-controller="Aula14Controller">

    <p ng-repeat="pessoa in dados">
        {{pessoa.nome}} / {{pessoa.idade}}
    </p>

    <button type="button" ng-click="carregaDados()">Carregar dados</button>

    <hr/>

    <input type="text" ng-model="cidade">
    <button type="button" ng-click="carregaPrevisao()">
        Previsão do tempo
    </button> <br/>

    <img ng-src="http://openweathermap.org/img/w/{{icone}}.png" ng-show="icone!=''"> {{descricaoTempo}}
</div>



<script src="js/angular/angular.min.js"></script>
<script src="js/app.module.js"></script>

<!-- Controllers -->
<script src="js/aula14Controller.js"></script>


</body>
</html>